{{#if username}}
  <h1>{{username}}'s notes</h1>
{{else}}
  <h1>{{type}} notes</h1>
{{/if}}
{{#each notes}}
    <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content center-align">
          <span class="card-title "><strong>{{title}}</strong></span>
          <p>{{body}}</p><br>
          <div class="chip">
            <p><strong>Created by: </strong> <a href="#">{{author.username}}</a></p>
          </div>
        </div>
        <div class="card-action">
          <a href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>
{{else}}
    <p>No note available</p>
{{/each}}
{{>_add_btn}}
